# Flask
FLASK_ENV=development
SECRET_KEY=ganti-dengan-secret-key-yang-aman

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password_anda
DB_NAME=sigarob_database

# JWT
JWT_SECRET_KEY=ganti-dengan-jwt-secret-yang-aman
JWT_ACCESS_TOKEN_EXPIRES=3600       # 1 jam (detik)
JWT_REFRESH_TOKEN_EXPIRES=604800    # 7 hari (detik)
